Repository eclipse-jdt/eclipse.jdt.core, pull requests merged in 2024-10, with the labels that each got.

#2700 A flag to resolve codeSelect using ASTParser
  org.eclipse.jdt.core/codeassist/org/eclipse/jdt/internal/codeassist/DOMCodeSelector.java
  org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/ASTHolderCUInfo.java
  org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/CompilationUnit.java
  org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/DOMToModelPopulator.java
  org.eclipse.jdt.core/model/org/eclipse/jdt/internal/core/util/Util.java
Labels: enhancement

#3154 Bogus null contract violation diagnostic at yield statements
  org.eclipse.jdt.core.compiler.batch/src/org/eclipse/jdt/internal/compiler/ast/YieldStatement.java
  org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/NullAnnotationTests21.java
Labels: null

#3167 "Regression" in 3.39.0
  org.eclipse.jdt.core.compiler.batch/src/org/eclipse/jdt/internal/compiler/problem/ProblemReporter.java
  org.eclipse.jdt.core.tests.model/src/org/eclipse/jdt/core/tests/dom/ASTConverterBugsTestJLS8.java
Labels: compiler

#2874 Fix deprecated check routines in ASTNode to also check since value
  org.eclipse.jdt.core.compiler.batch/src/org/eclipse/jdt/internal/compiler/ast/ASTNode.java
  org.eclipse.jdt.core.tests.compiler/src/org/eclipse/jdt/core/tests/compiler/regression/Deprecated9Test.java
  org.eclipse.jdt.core.tests.model/src/org/eclipse/jdt/core/tests/model/ReconcilerTests9.java
Labels: bug
